<!DOCTYPE html>
<html lang="ko">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8">
    <title>Spakers in Text</title>
    <link rel="stylesheet" href="{{ url_for('static', path='css/index.css') }}">
</head>

<body>
    <div class="background">
        <div class="header">
            <span class="title">Nouvel : Novel for you</span>
        </div>
        <div class="empty"></div>
        <div class="box">
            <p class="subtitle">모델 설명</p>
            <div class="explain-box">
                <span class="explain">네이버 웹소설 텍스트를 드라마 각본으로 변환해주는 모델입니다.</span>
            </div>
            <div class="buttonbox">
                <button onClick="location.href='put.html'" class="start-button">
                    <span>시작하기</span>
                </button>
            </div>
        </div>
        <div class="foot">
            <div class="footer-text">
                <span>고려대학교 지능정보 SW 아카데미 5조</span>
            </div>  
        </div>
    </div>
</body>

</html>